[Basics]
# The serial RS232_FPGA1C
serial_port_control  = /dev/ttyO2
# The local database where data will be saved. If 'shell' is specified as database data will be printed to the shell
database = /server/data/test.db
# Channel averages used for the median algorithm...
Channel_avg = 255, 290, 0, 295, 0, 0, 289, 291, 252, 254, 293, 299, 298, 328, 299, 302, 302, 272

[Sensors]
# The serial RS232_FPGA1
serial_port_sensors= None
# The type of barometer that will be used. 'None', 'bm35', 'ap1'
barometer_type = None
# The type of hvps that will be used. 'None', 'analog', 'digital'
hvps_type = None
#Correction coefficient for the analog hvps, 1.0 ==> No correction
analog_hvps_corr = 1.0

[dbUpdater]
db_updater_enabled=True
# Must be the same that Basic.database
local_db= /server/data/test.db 
# The remote database config
remote_db_host= 192.168.1.1
# The user must have privileges
remote_db_user= hristo
remote_db_pass= 123qwe
# The database will be created if not exists along with all the tables
remote_db_db= nmdadb2

[Pressure]
# Average pressure for the station.
avg_pressure=932
# N=N0*exp(Beta*(P-P0))
beta_pressure=0.0067

[Efficiency]
# corr_efficcincy = Beta * corr_pressure
beta_efficiency=1.0

